#AT
#21.05.26

.ai/memory/
.osp/
.vssync/

*~
**/*~
**/*~/**
*.7z
*.gz
*.bat
*.hash
*.log
*.pdf
*.sql
*.txt
*.[0-9]*

frontend/**
!frontend/src/
!frontend/src/**
frontend/src/components/*/node_modules/
frontend/src/components/*/package-lock.json
frontend/src/components/*/dist/

src/**
src/dropzone/dropzone-min.js
src/dropzone/dropzone.css
tmp/

webroot/api/img/.time
webroot/api/img/.batch

webroot/site/assets/cache/
webroot/site/assets/css/**/.cache
webroot/site/assets/files/
webroot/site/assets/js/
webroot/site/assets/sessions/
webroot/site/assets/svg/sprite.symbol.svg

webroot/site/modules/*
!webroot/site/modules/AdminPageTool/
!webroot/site/modules/OutputFilter/

webroot/vendor/
webroot/wire/
webroot/tools/
webroot/site/templates/.hash

