#AT
#10.06.25

*.~
*~
*.[0-9]
*.7z
*.gz
*.bat
*.hash
*.pdf
*.sql
*.txt

frontend/*
frontend/**
!frontend/src
!frontend/src/*
!frontend/src/**

src/*
src/**
src/dropzone/dropzone-min.js
src/dropzone/dropzone.css
tmp

webroot/api/img/.time
webroot/api/img/.batch

webroot/site/assets/cache
webroot/site/assets/css/**/.cache
webroot/site/assets/files
webroot/site/assets/js
webroot/site/assets/js/*
webroot/site/assets/js/**
webroot/site/assets/sessions
webroot/site/assets/svg/sprite.symbol.svg

webroot/site/modules/*
!webroot/site/modules/AdminPageTool
!webroot/site/modules/OutputFilter

webroot/vendor
webroot/wire
webroot/tools
webroot/site/templates/.hash