@font-face {
    font-family: 'Days One';
    src: url('DaysOne-Regular.woff2') format('woff2'),
        url('DaysOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

