@font-face {
	font-family: 'Days One';
	src: url('/site/assets/fonts/DaysOne/DaysOne-Regular.woff2') format('woff2'),
		url('/site/assets/fonts/DaysOne/DaysOne-Regular.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}